:root {
    --background-color: #d3d3d3;
    --white-color: #ffffff;
    --secondary-color: #3290ff;
}

.App {
    background-color: var(--background-color);
}

.app-wrapper {
    margin: 0 auto;
    width: 1200px;
    height: 100vh;
    display: grid;
    grid-template-areas:
        'h h'
        'n c';
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-gap: 10px;
    background-color: var(--background-color);
}





