:root {
    --background-color: #e3e3e3;
    --white-color: #fff;
}

.App {
    background-color: var(--background-color);
}

.app-wrapper {
    margin: 0 auto;
    width: 1200px;
    height: 100vh;
    display: grid;
    grid-template-areas:
        'h h'
        'n c';
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-gap: 10px;
    background-color: var(--background-color);
}

.header {
    grid-area: h;
    background-color: var(--white-color);
}

.header img {
    height: 55px;
}

.nav {
    grid-area: n;
    background-color: var(--white-color);
}

.content {
    grid-area: c;
    background-color: var(--background-color);
}

.content img {
    width: 100%;
}
